/* src/components/Layout.module.css */

/* General Layout Styles */
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 5px 20px;
  }
  
  .navbarLogo h1 {
    color: #000000;
    margin: 0;
  }
  
  .navbarLinks {
    display: flex;  /* Make the list items horizontal */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarLinks li {
    margin-left: 20px;  /* Space between links */
  }
  
  .navbarLinks a {
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  
  .navbarLinks a:hover {
    background-color: #555;
    border-radius: 4px;
  }
  
  /* Main Content Styles */
  .mainContent {
    flex-grow: 1;
    padding: 20px;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .navbarLinks {
      flex-direction: column;  /* Stack links vertically on small screens */
      align-items: center;
    }
  
    .navbarLinks li {
      margin: 10px 0;
    }
  }
  